/* CSS Reset =================== */
html, body, div, span, applet, object, input, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

a { 
    text-decoration: none;
    color: #000;
}

/* =============================== */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.woff) format('woff'),
        url(../fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff) format('woff'),
        url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Proxima;
    src: url(../fonts/ProximaNova-Light.woff) format('woff'),
        url(../fonts/ProximaNova-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Proxima;
    src: url(../fonts/ProximaNova-Regular.woff) format('woff'),
        url(../fonts/ProximaNova-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Proxima;
    src: url(../fonts/ProximaNova-Bold.woff) format('woff'),
        url(../fonts/ProximaNova-Bold.ttf) format('truetype');
    font-weight: 900;
    
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

/* Header =================== */

header, footer {
    height: 55px;
    width: 100%;
    background-color: rgb(109, 194, 194);
}

.wrapper {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

header .wrapper,
footer .wrapper {
    align-items: center;
    justify-content: space-around;
}
nav {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

header nav a {
    font-family: 'Proxima', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 10px;
}

header nav a:hover {
    color: #fff;
}

/* Main =================== */
main {
    flex: 4;
    padding-top: 40px;
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

article .article-img {
    flex: 1;
}

.article-img img {
    width: 100%;
    border-radius: 10px;
}

.article-content {
   flex: 2;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-left: 20px;
}

.article-content h3 a {
    font-family: 'Proxima', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: rgb(109, 194, 194);
}

.article-content .meta{
    margin: 8px 0;
}
.article-content .meta,
.article-content .views,
.article-content .comments,
aside .date {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #999;
    font-size: 0.8rem;
}

.article-content .meta span::after {
    content: "|";
    padding-left: 2px;
}

.article-content .meta span:last-child::after {
    display: none;
}

.article-content .meta .category a,
.article-content .comments a {
    color: rgb(109, 194, 194);
    font-weight: 500;
}

.article-content .description {
    color: #555;
    font-family: 'Proxima', sans-serif;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 9px;
}

.article-content .description .read-more a {
    color: rgb(109, 194, 194);
    font-family: 'Proxima', sans-serif;
}

.article-content .description .read-more a:hover,
.article-content .meta .category a:hover,
.article-content .comments a:hover,
.article-content h3 a:hover {
    color: #000;
}
.article-content .views::after {
    content: "|";
    padding-left: 5px;
    padding-right: 2px;
}

.article-content i {
    padding: 0px 7px;
}

.articles {
    margin-bottom: 30px;
}
main .more {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 42px;
    color:  rgb(109, 194, 194);
    background-color: transparent;
    border: 1px solid rgb(109, 194, 194);
    border-radius: 10px;
    font-size: 0.95rem;
}

main .more:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(109, 194, 194);
}


/* Aside =================== */

aside {
    min-width: 220px;
    padding: 40px 10px 0 30px;
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
}

aside .searchbox {
    width: 100%;
    position: relative;
}

aside .searchbox label {
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: 100;
}

aside .searchbox input {
    width: 100%;
    border-radius: 10px;
    padding: 8px 10px 8px 30px;
    outline: none;
    border: 1px solid rgb(109, 194, 194);
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.calendar-widget {
	border: 1px solid rgb(109, 194, 194);
    padding: 2px;
	width: 100%;
	border-radius: 10px;
	margin-top: 38px;
}

.calendar-widget .calendar-top {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 38px;
	width: 100%;
	border-radius: 10px 10px 0 0;
    color: rgb(109, 194, 194);
}

.calendar-prev, .calendar-next {
	color: #e5e5e5;
}

.calendar-widget table {
	width: calc(100% + 4px);
	margin-left: -2px;
	border-radius: 0 0 10px 10px;
}

.calendar-widget table th {
	height: 26px;
	background: #e7e7e7;
	color: #888;
	text-align: center;
	vertical-align: middle;
}

.calendar-widget table td {
	height: 33px; 
	text-align: center;
	vertical-align: middle;
	border: 1px solid #e5e5e5;
	color: #e5e5e5;
}

.calendar-widget tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}

.calendar-widget tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}

.calendar-widget .current-month {
	color: #4d4d4d;
}

.calendar-widget .current-day {
	background-color: rgb(109, 194, 194);
	color: #fff;
}

.popular-news {
    margin-top: 15px;
    text-align: center;
}

.popular-news h2 {
    font-size: 1rem;
    font-family: 'Proxima', sans-serif;
    color: rgb(109, 194, 194);
}

.popular-news a {
    font-size: 1rem;
    font-family: 'Proxima', sans-serif;
    color: #555;
}

.popular-news article {
    flex-direction: column;

}

.popular-news article h3 {
    font-size: 0.9rem;
    color: #555;
    
}

.popular-news article a:hover {
    color: rgb(109, 194, 194);
}
/* Footer =================== */
footer {
    margin-top: 30px;
    font-size: 0.8rem;
}

.copy {
    font-family: 'Proxima', sans-serif;
    color: #fff;
}

.socials {
    display: flex;
}

.socials a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(109, 194, 194);
    font-size: 1.2rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.socials a:hover {
    background-color: #fff;
    color: rgb(109, 194, 194);
}

.footer-nav a {
    color: rgb(27, 73, 73);
}

.footer-nav a:hover {
    color: #fff;
}

/* Responsive =================== */
@media (max-width: 992px) {

    main {
        flex: 3;
    }

    main article {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 25px;
    }
    
    main .article-content {
        text-align: center;
    }
}
@media (max-width: 768px) {
    header {
        height: 100px;
        font-size: 1rem;
    }

    header .logo {
        order: -3;
    }

    header .wrapper {
        flex-wrap: wrap;
    }
    
    nav {
        width: 80%;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    main {
        padding: 20px;
    }

    main article {
        flex-direction: row;
        margin-bottom: 15px;
    }

    main .article-content {
        flex: 2;
        text-align: left;
    }

    aside {
        width: 70%;
    }

    footer {
        height: 100px;
        padding: 15px;
        font-size: 0.9rem;
    }
   .copy {
       order: 3;
   }
}

@media (max-width: 600px) {
    main article {
        flex-direction: column;
        margin-bottom: 15px;
    }

    main .article-content {
        text-align: center;
    }
}